.heading {
  height: 300px;
  background-size: cover;
  background-color: rgb(134, 134, 134);
  /* Remove background-blend-mode if not necessary */
  background-blend-mode: none; /* or whatever is appropriate */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 500;
  color: white;
  /* Adjust background-position */
  background-position: center center; /* Center the background image both horizontally and vertically */
}

/* Who is Best1 */

.about_Service {
  display: flex;
  gap: 4rem;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

.aboutImg {
  width: 100%;
  object-fit: cover;
  max-height: 300px;
  border-radius: 5px;
}

.about_text_content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  line-height: 1.5rem;
  /* gap: 20px; */
}

.aboutHead {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.aboutDesc {
  font-size: 16px;
  text-align: justify;
}

@media screen and (max-width: 450px) {
  .about_Service {
    flex-direction: column;
    align-items: center;
    gap: 60px;
    /* padding: 50px; */
  }

  .aboutHead {
    text-align: center;
  }

  .aboutImg {
    width: 100%;
    object-fit: cover;
  }
}

/* Our Story */

.ourStoryWrapper {
  background-color: #dbffe0;
  /* padding: 100px 200px 100px 200px; */
  padding: 3rem 6rem;
  display: flex;
  flex-direction: column;
  /* gap: 50px; */
  gap: 3rem;
  justify-content: center;
  /* align-items: center; */
}

.ourStoryText {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ourStoryHead {
  font-size: 25px;
  font-weight: 600;
}

.ourStoryDesc {
  font-size: 15px;
  text-align: justify;
}

.ourStoryImg {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  max-height: 400px;
}

.ourStoryWrapperpart2 {
  /* background-color: #dbffe0; */
  padding: 100px 200px 100px 200px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.subHeading {
  color: #2a6231;
  text-decoration: underline;
}

@media screen and (max-width: 450px) {
  .ourStoryWrapper {
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 50px;
  }

  .ourStoryWrapperpart2 {
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 50px;
  }

  .ourStoryHead {
    text-align: center;
  }

  .ourStoryImg {
    width: 20rem;
  }
}
/* media queries for tablets  */
@media screen and (min-width: 450px) and (max-width: 1024px) {
  .about_Service,
  .ourStoryWrapper {
    flex-direction: column-reverse;
    padding: 2rem;
    gap: 0rem;
  }
  .ourStoryWrapper {
    flex-direction: column;
    padding: 4rem;
    gap: 2rem;
  }
  .aboutImg {
    padding: 2rem;
  }
}
